@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Pacifico&display=swap');

/* *{
    margin: 0;
    padding: 0;
} */
nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    margin: 0 70px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(22, 16, 16);
}

nav>ul {
    display: flex;
    align-items: center;
}

/* nav title style */

.nav-title {
    display: flex;
    align-items: center;
    color: #181818;

    font-size: 45px;
    font-weight: 800;

}

.orange {

    color: #FD6E0A;

}

.btn-primary {

    border-radius: 5px;
    background-color: #FD6E0A;
    height: 49px;
    width: 110px;
    color: white;
    font-weight: 800;
    font-size: 15px;
    border: none;
}

/* header related style */
.header {
    background-color: #FFF8F3;
}

.banner {
    display: flex;
    margin: 30px 50px 30px 30px;
}

.banner-content {
    padding-left: 44px;
}

.profile {
    padding-left: 190px;
}

.profile .profile-pic {
    height: 400px;
    width: 600px;
    position: relative;
    bottom: 102px;
    left: 75px;
}
.greetings-title{
    font-size: 30px;
    font-family:'Open Sans', sans-serif; 
    
}
.profile-name{
    font-size: 35px;
    font-weight: 700;
    font-family:'Open Sans', sans-serif; 
}